<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()}
    <a class="font-semibold hover:underline" href="https://socialais.dev"
      >Sociālais kods</a
    >
    <br /> E-pasts:
    <a class="font-semibold hover:underline" href="mailto:omnis@omnis.lv"
      >omnis@omnis.lv</a
    >
    <a href="https://latvija.ai" class="mx-auto">
      <img
        src="https://latvija.ai/logo.svg"
        title="Latvija.ai mājaslapu katalogs"
        alt="Latvija.ai mājaslapu katalogs"
        style="width: 90px"
        class="mx-auto"
      />
    </a>
  </p>
</footer>
