<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()}
    <a class="font-semibold hover:underline" href="https://socialais.dev"
      >Sociālais kods</a
    >
    <br /> E-pasts:
    <a class="font-semibold hover:underline" href="mailto:omnis@omnis.lv"
      >omnis@omnis.lv</a
    >
    <br /> Apskati arī
    <a
      class="text-gray-900 font-semibold hover:underline"
      href="https://latvija.ai">Latvija.ai</a
    >
  </p>
</footer>
