<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()} Sociālais kods <br />
    <a class="font-semibold hover:underline" href="mailto:omnis@omnis.lv">omnis@omnis.lv</a>
  </p>
  
</footer>
