---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.webp";
import Link from "@components/ui/link.astro";
import Signupform from "@components/signupform.astro";
---

<main class="grid lg:grid-cols-2 place-items-center pb-8 md:pb-10">
  <div class="p-16 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Vēstule"
      widths={[200, 400, 956]}
      sizes="(max-width: 956px) 100vw, 620px"
      loading="eager"
      format="webp"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Saņem pašus <span class="text-indigo-400">labākos</span> piedāvājumus <span
        class="text-primary-500">e-pastā</span
      >
    </h1>
    <p class="text-lg mt-4 text-slate-900 max-w-xl">
      <strong>Omnis</strong> Tevi informēs par <strong>atlaidēm</strong> un <strong
        >akcijām</strong
      > no vairākiem pakalpojumu sniedzējiem <strong>pieklājīgās</strong> un <strong
        >neuzbāzīgās</strong
      > vēstulēs, ko saņemsi ne biežāk kā <strong>vienu reizi mēnesī</strong>. <wbr
      /> Pirmā vēstule — <strong>1. martā</strong>.
    </p>

    <Signupform />

    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Reģistrēties kā pakalpojumu sniedzējam
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Uzzināt vairāk
      </Link>
    </div> -->
  </div>
</main>
